main {
  display: flex;
  flex-direction: column;
}

body {
  background-color: #D5D7C9;
}

aside {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 4px;
  width: 160px;
  height: 100%;
  padding: 140px 10px 0 10px;
  background-color: #f5f5f5;
}


aside article button {
  font-family: sans-serif;
  width: 140px;
  height: 40px;
  text-align: start;
  padding: 12px 10px;
  border: none;
  font-size: 16px;
}

#todoLabel {
  background-color: #D9D9D9;
}

#doingLabel {
  background-color: #D74747;
}

#doneLabel {
  background-color: #60CA1F;
}

#allLabel {
  background-color: #AC9EFF;
}

/* aside end */

/* section form */

.sec-form {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  margin-top: 70px;
  /* width: 40%; */

}

#pageTitle {
  font-family: cursive;
  position: relative;
  font-weight: 400;
  font-size: 50px;
  color: #000000;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-top: 25px;
}


.taskCreator {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: 30px;
}

.taskCreator button {
  background-color: transparent;
  border: none;

}

/* task div start */

.taskDiv {
  background-color: rgba(255, 255, 255, 0.815);
  opacity: 80%;
  width: 580px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  border-radius: 5px;
}


.taskContent {
  width: 100%;
}

.tasks-list h2 {
  font-size: 35px;
  font-family: cursive;
  margin-top: 20px;
}

/* task div end */

.headerLogo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 30px
}


input {
  border: none;
  outline: none;
  margin-top: 2px;
  border-bottom: 1px solid #e4e4ec;
  background: transparent;
  padding-left: 12px;
  width: 80%;
}
input, select, textarea{
  color: #a69696;
}

textarea:focus, input:focus {
  color: #7e7373;
}

#newTaskForm {
  background-color: #f5f5f5;
}

#newTaskForm input {
  border: none;
  background: transparent;
  outline: none;
}

/* add padding left when remove the valid button */
form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 52px;
}

/* form end */


/* end icons style*/

.iconsEnd button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* end icons end */

.iconsEnd {
  display: flex;
  justify-content: end;
  padding: 10px;
}

i {
  padding: 9px;
}

.taskButtons {
  display: flex;
  position: fixed;
  justify-content: end;
  align-items: end;
  bottom: 80px;
  right: 80px;
}