main{
  display: flex;
  flex-direction: row;
}

body {
  background-color: #D5D7C9;
}


input {
  border: none;
}


.taskDiv {
  background-color: white;
  width: 500px;
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  
}

aside{
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 160px;
  height: 100%;
  padding: 140px 10px 0 10px;
  background-color: #f5f5f5;
}


aside article h2{
  font-family: sans-serif;
  width: 140px;
  height: 40px;
  text-align: start;
  padding: 12px 10px;
  border: none;
  font-size: 16px;
}

#todoLabel{
  background-color: #D9D9D9;
}
#doingLabel{
  background-color: #D74747;
}
#doneLabel{
  background-color: #60CA1F;
}
#allLabel{
  background-color: #AC9EFF;
}

/* aside end */

/* section form */

.sec-form{
  display: flex;
  flex-direction: column;
}

#pageTitle{
  font-family: cursive;
  font-weight: 400;
  font-size: 50px;
  color: #000000;
}